html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
  border: 10px solid red;
  box-shadow: 0 10px 20px -10px;

  position:red absolute;
  left: 50%;
  right: 50%;
  transform: translate(-50%, -50%)

}
